*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.res
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

*.cfg
*.hpp
*Resource.rc

*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dsv

__history/
__recovery/
*.~*

*.stat

.excluded/
modules/
Win32/
Win64/
OSX64/
OSXARM64/
Android/
Android64/
iOSDevice64/
Linux64/
